.content{
    width: 60%;
    height: 80%;
    margin: auto;
    padding: 25px;
    background: rgb(118,216,246,0.50);
}

p{
    font: serif;
    color: #ffffff;
    text-align: center;
}

.content h2{
    font-size: 30px;
    text-align: center;
    color: #95ffb7;
}

.tail{
    font-size: 20px;
    color: #95ffb7;
}
