.facebook{
    width: 40px;
    margin: 20px;
}

.twitter{
    width: 40px;
    margin: 20px;
}

.linkedin{
    width: 40px;
    margin: 20px;
}



.teamtail{
    font-size: 20px;
    color: #95ffb7;
}
